* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-container {
  height: 80rem;
  width: 60rem;
  max-height: 70vh;
  margin-top: 5rem;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.6);
}
.quiz-container .quiz-home-banner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.quiz-container .quiz-home-banner img {
  height: 30rem;
  width: 30rem;
}
.quiz-container .quiz-index-elements {
  display: flex;
  height: 20rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.quiz-container .quiz-index-elements .icons {
  height: 15rem;
  width: 30rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.quiz-container .quiz-index-elements .icons div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.quiz-container .quiz-index-elements .icons div a {
  font-size: 1.8rem;
  color: #292929;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quiz-container .quiz-index-elements .icons div a ion-icon {
  font-size: 3rem;
}
.quiz-container .quiz-index-elements .icons div a:hover {
  color: #292929;
}
.quiz-container .quiz-index-elements .icons div a ion-icon {
  margin-right: 0.3rem;
}
.quiz-container .quiz-index-elements .icons div a .html5 {
  color: #e34c26;
}
.quiz-container .quiz-index-elements .icons div a .css3 {
  color: #264de4;
}
.quiz-container .quiz-index-elements .icons div a .js {
  color: #f0db4f;
}
.quiz-container .quiz-index-elements .icons div a .sass {
  color: #a020f0;
}
.quiz-container .quiz-index-elements .icons div a .react {
  color: #61dbfb;
}
.quiz-container .quiz-index-elements .icons div a .vue {
  color: #42b883;
}
.quiz-container .quiz-index-elements .icons .index-element-1 {
  margin-right: 1rem;
}
.quiz-container .quiz-index-elements .icons .index-element-2 {
  margin-left: 1rem;
}

/* html quiz container
 */
.html-quiz-container {
  height: 65rem;
  width: 60rem;
  min-height: 70vh;
  margin-top: 5rem;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.6);
}
.html-quiz-container .activeInfo {
  opacity: 1;
  z-index: 5;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.quiz-header {
  position: relative;
}
.quiz-header .quiz-header-banner {
  height: 20rem;
  width: 100%;
}
.quiz-header .quiz-header-banner a {
  position: relative;
}
.quiz-header .quiz-header-banner a ion-icon {
  position: absolute;
  top: -18rem;
  left: 1rem;
  font-size: 2.5rem;
  color: #fff;
}
.quiz-header .quiz-header-banner img {
  height: 20rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.quiz-header .timeCount {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  top: 0;
  right: 0;
}
.quiz-header .timeCount .timeLeft {
  color: yellow;
  background-color: #292929;
  font-size: 1.3rem;
  padding: 0.3rem;
}
.quiz-header .timeCount .seconds {
  color: #fff;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-color: #292929;
  font-size: 1.3rem;
  padding: 0.3rem;
  margin: 0.5rem 0.5rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quiz-header .time-lines {
  background: rgba(2, 12, 52, 0.6549019608);
  height: 0.4rem;
  margin-bottom: 3rem;
}

.quiz-section {
  border: 1px solid red;
  height: 34rem;
  width: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  padding-top: 1rem;
}
.quiz-section .text {
  font-size: 1.8rem;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid red;
  color: #292929;
}
.quiz-section .quiz-title {
  font-size: 1.8rem;
  padding: 1rem 1rem 1rem 0;
  border: 1px solid red;
  color: #292929;
}
.quiz-section .quiz-options {
  border: 1px solid red;
  padding: 1rem;
  font-size: 1.5rem;
  color: #272727;
}
.quiz-section .quiz-options .activeQuiz {
  opacity: 1;
  z-index: 5;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.quiz-section .quiz-options .options {
  margin-bottom: 1.2rem;
  background: aliceblue;
  border: 1px solid #84c5fe;
  border-radius: 5px;
  padding: 0.7rem;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
  border-radius: 0.3rem;
}
.quiz-section .quiz-options .options:hover {
  color: #004085;
  background: #cce5ff;
  border: 1px solid #b8daff;
}
.quiz-section .quiz-options .options ion-icon {
  float: right;
  margin-top: -1.9rem;
  font-size: 2rem;
}
.quiz-section .quiz-options .options.correct {
  color: #155724;
  background: #d4edda;
  border: 1px solid #c3e6cb;
}
.quiz-section .quiz-options .options.incorrect {
  color: #721c24;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
}
.quiz-section .quiz-options .options.disabled {
  pointer-events: none;
}

footer {
  padding-top: 1rem;
  border-top: 2px solid rgba(40, 40, 40, 0.168627451);
  margin-bottom: 0;
  width: 100%;
}
footer .total-quiz {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 1px solid red;
}
footer .total-quiz p {
  font-size: 1.2rem;
  color: #272727;
}
footer .total-quiz .nextBtn {
  border: 1px solid red;
  padding: 1rem 2.5rem;
  background-color: #a044d9;
  border-radius: 0.5rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

/* html quiz container
 */
/* =======Quiz result========= */
.html-quiz-result-container {
  height: 66rem;
  width: 60rem;
  position: absolute;
  background: #fff;
  top: 50%;
  left: 50%;
  min-height: 70vh;
  transition: all 0.2s ease;
  opacity: 0;
  border-radius: 5px;
  transform: translate(-50%, -50%) scale(0.9);
  pointer-events: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.6);
}
.html-quiz-result-container .result-header-banner {
  height: 30rem;
  width: 100%;
  border-bottom: none;
}
.html-quiz-result-container .result-header-banner a {
  position: relative;
}
.html-quiz-result-container .result-header-banner a ion-icon {
  position: absolute;
  top: -18rem;
  left: 1rem;
  font-size: 2.5rem;
  color: #fff;
}
.html-quiz-result-container .result-header-banner img {
  height: 35rem;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border: none;
}
.html-quiz-result-container .quiz-result-section {
  border: 1px solid rgb(250, 29, 88);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
  margin-top: 5rem;
}
.html-quiz-result-container .quiz-result-section .result-content {
  border: 1px solid rgb(93, 225, 93);
}
.html-quiz-result-container .quiz-result-section .result-content .text {
  border: 1px solid red;
  margin-bottom: 1rem;
}
.html-quiz-result-container .quiz-result-section .result-content .text h1 {
  color: #272727;
  padding: 1rem 0;
}
.html-quiz-result-container .quiz-result-section .result-content .score_text span {
  display: flex;
  margin: 10px 0;
  font-size: 18px;
  font-weight: 500;
}
.html-quiz-result-container .quiz-result-section .result-content .score_text span p {
  padding: 0 4px;
  font-weight: 600;
}
.html-quiz-result-container .quiz-result-section .result-content .quiz-buttons {
  border: 1px solid yellow;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  font-size: 1.5rem;
}
.html-quiz-result-container .quiz-result-section .result-content .quiz-buttons .reloadBtn {
  border: 1px solid blue;
  padding: 1rem 3rem;
  cursor: pointer;
  background: #0c5a9f;
  color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.5);
}
.html-quiz-result-container .quiz-result-section .result-content .quiz-buttons .reloadBtn:hover {
  background: #004085;
}
.html-quiz-result-container .quiz-result-section .result-content .quiz-buttons .quitBtn {
  border: 1px solid rgb(24, 159, 189);
  background: #0c5a9f;
  color: #fff;
  padding: 1rem 3.7rem;
  cursor: pointer;
  border-radius: 0.5rem;
  box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.5);
}
.html-quiz-result-container .quiz-result-section .result-content .quiz-buttons .quitBtn:hover {
  background: #004085;
}

.html-quiz-result-container.activeResult {
  z-index: 5;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  pointer-events: auto;
}

/* =======Quiz result========= *//*# sourceMappingURL=quizApp.css.map */