* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
  user-select: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.quiz-container {
  //   border: 1px solid red;
  height: 80rem;
  width: 60rem;
  max-height: 70vh;
  margin-top: 5rem;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.6);

  .quiz-home-banner {
    // border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 30rem;
      width: 30rem;
      //   border: 1px solid yellow;
    }
  }

  .quiz-index-elements {
    display: flex;
    height: 20rem;
    // width: 35rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // border: 2px solid rgb(225, 12, 119);
    .icons {
      //   border: 1px solid salmon;
      height: 15rem;
      width: 30rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        // border: 1px solid red;

        a {
          font-size: 1.8rem;
          // border: 1px solid green;
          color: #292929;
          padding: 0.5rem;

          display: flex;
          justify-content: center;
          align-items: center;

          ion-icon {
            font-size: 3rem;
          }

          &:hover {
            color: #292929;
          }

          ion-icon {
            margin-right: 0.3rem;
          }
          .html5 {
            color: #e34c26;
            // border: 1px solid green;
          }
          .css3 {
            color: #264de4;
            // border: 1px solid green;
          }
          .js {
            color: #f0db4f;
            // border: 1px solid green;
          }
          .sass {
            // color: #b37399aa;
            color: #a020f0;
          }
          .react {
            color: #61dbfb;
          }
          .vue {
            color: #42b883;
          }
        }
      }
      .index-element-1 {
        margin-right: 1rem;
      }
      .index-element-2 {
        margin-left: 1rem;
      }
    }
  }
}

/* html quiz container
 */
.html-quiz-container {
  height: 65rem;
  width: 60rem;
  min-height: 70vh;
  margin-top: 5rem;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.6);

  .activeInfo {
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
  }
}

.quiz-header {
  position: relative;

  .quiz-header-banner {
    height: 20rem;
    width: 100%;

    a {
      position: relative;

      ion-icon {
        position: absolute;
        top: -18rem;
        left: 1rem;
        font-size: 2.5rem;
        color: #fff;
      }
    }
    img {
      height: 20rem;
      width: 100%;
      object-fit: cover;
      // border-bottom: 2px solid #2828282b;
    }
  }

  .timeCount {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    top: 0;
    right: 0;

    .timeLeft {
      color: yellow;
      background-color: #292929;
      font-size: 1.3rem;
      padding: 0.3rem;
    }
    .seconds {
      color: #fff;
      height: 5rem;
      width: 5rem;
      border-radius: 50%;
      background-color: #292929;
      font-size: 1.3rem;
      padding: 0.3rem;
      margin: 0.5rem 0.5rem 0 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .time-lines {
    background: #020c34a7;
    height: 0.4rem;
    margin-bottom: 3rem;
    // width: 100%;
  }
}
.quiz-section {
  border: 1px solid red;
  height: 34rem;
  width: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  padding-top: 1rem;
  .text {
    font-size: 1.8rem;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid red;
    color: #292929;
  }
  .quiz-title {
    font-size: 1.8rem;
    padding: 1rem 1rem 1rem 0;
    border: 1px solid red;
    color: #292929;
  }
  .quiz-options {
    border: 1px solid red;
    padding: 1rem;
    font-size: 1.5rem;
    color: #272727;
    // height: 15rem;
    .activeQuiz {
      opacity: 1;
      z-index: 5;
      pointer-events: auto;
      transform: translate(-50%, -50%) scale(1);
    }
    .options {
      margin-bottom: 1.2rem;
      background: aliceblue;
      border: 1px solid #84c5fe;
      border-radius: 5px;
      padding: 0.7rem;
      cursor: pointer;
      transition: all 0.3s ease;
      width: 100%;
      border-radius: 0.3rem;
      &:hover {
        color: #004085;
        background: #cce5ff;
        border: 1px solid #b8daff;
      }

      span {
      }
      ion-icon {
        // color: red;
        // border: 1px solid yellow;
        float: right;
        margin-top: -1.9rem;
        font-size: 2rem;
      }
    }

    .options.correct {
      color: #155724;
      background: #d4edda;
      border: 1px solid #c3e6cb;
    }
    .options.incorrect {
      color: #721c24;
      background: #f8d7da;
      border: 1px solid #f5c6cb;
    }
    .options.disabled {
      pointer-events: none;
    }
  }
}
footer {
  padding-top: 1rem;
  border-top: 2px solid #2828282b;
  margin-bottom: 0;
  width: 100%;
  .total-quiz {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border: 1px solid red;

    p {
      font-size: 1.2rem;
      color: #272727;
    }
    .nextBtn {
      border: 1px solid red;
      padding: 1rem 2.5rem;
      background-color: #a044d9;
      border-radius: 0.5rem;
      color: #fff;
      cursor: pointer;
      display: none;
    }
  }
}

/* html quiz container
 */

/* =======Quiz result========= */

.html-quiz-result-container {
  height: 66rem;
  width: 60rem;
  position: absolute;
  background: #fff;
  top: 50%;
  left: 50%;
  min-height: 70vh;
  // margin-top: 5rem;
  transition: all 0.2s ease;
  opacity: 0;
  border-radius: 5px;
  transform: translate(-50%, -50%) scale(0.9);
  pointer-events: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.6);

  .result-header-banner {
    height: 30rem;
    width: 100%;
    border-bottom: none;

    a {
      position: relative;

      ion-icon {
        position: absolute;
        top: -18rem;
        left: 1rem;
        font-size: 2.5rem;
        color: #fff;
      }
    }
    img {
      height: 35rem;
      width: 100%;
      object-fit: contain;
      border: none;
    }

    // img {
    //   height: 20rem;
    //   width: 100%;
    //   object-fit: cover;
    //   // border-bottom: 2px solid #2828282b;
    // }
  }

  .quiz-result-section {
    border: 1px solid rgb(250, 29, 88);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    margin-top: 5rem;
    .result-content {
      border: 1px solid rgb(93, 225, 93);

      .text {
        border: 1px solid red;
        margin-bottom: 1rem;

        h1 {
          // margin-bottom: 1rem;
          color: #272727;
          padding: 1rem 0;
        }
      }
      .score_text span {
        display: flex;
        margin: 10px 0;
        font-size: 18px;
        font-weight: 500;
      }

      .score_text span p {
        padding: 0 4px;
        font-weight: 600;
      }

      .quiz-buttons {
        border: 1px solid yellow;
        display: flex;
        justify-content: space-around;
        padding: 1rem;
        font-size: 1.5rem;

        .reloadBtn {
          border: 1px solid blue;
          padding: 1rem 3rem;
          cursor: pointer;
          background: #0c5a9f;
          color: #fff;
          border-radius: 0.5rem;
          box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.5);
          &:hover {
            background: #004085;
          }
        }
        .quitBtn {
          border: 1px solid rgb(24, 159, 189);
          background: #0c5a9f;
          color: #fff;
          padding: 1rem 3.7rem;
          cursor: pointer;
          border-radius: 0.5rem;
          box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.5);
          &:hover {
            background: #004085;
          }
        }
      }
    }
  }
}

.html-quiz-result-container.activeResult {
  z-index: 5;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  pointer-events: auto;
}

/* =======Quiz result========= */
