* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
  user-select: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.quiz-container {
  //   border: 1px solid red;
  height: 80rem;
  width: 60rem;
  max-height: 70vh;
  margin-top: 5rem;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.6);

  .quiz-home-banner {
    // border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 30rem;
      width: 30rem;
      //   border: 1px solid yellow;
    }
  }

  .quiz-index-elements {
    display: flex;
    height: 20rem;
    // width: 35rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // border: 2px solid rgb(225, 12, 119);
    .icons {
      //   border: 1px solid salmon;
      height: 15rem;
      width: 30rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        // border: 1px solid red;

        a {
          font-size: 1.8rem;
          // border: 1px solid green;
          color: #292929;
          padding: 0.5rem;

          display: flex;
          justify-content: center;
          align-items: center;

          ion-icon {
            font-size: 3rem;
          }

          &:hover {
            color: #292929;
          }

          ion-icon {
            margin-right: 0.3rem;
          }
          .html5 {
            color: #e34c26;
            // border: 1px solid green;
          }
          .css3 {
            color: #264de4;
            // border: 1px solid green;
          }
          .js {
            color: #f0db4f;
            // border: 1px solid green;
          }
          .sass {
            // color: #b37399aa;
            color: #a020f0;
          }
          .react {
            color: #61dbfb;
          }
          .vue {
            color: #42b883;
          }
        }
      }
      .index-element-1 {
        margin-right: 1rem;
      }
      .index-element-2 {
        margin-left: 1rem;
      }
    }
  }
}

/* html quiz container
 */
.html-quiz-container {
  height: 60rem;
  width: 60rem;
  min-height: 60vh;
  margin-top: 5rem;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.6);
}

.quiz-header {
  border: 1px solid red;
  position: relative;

  .quiz-header-banner {
    height: 20rem;
    width: 100%;
    img {
      height: 20rem;
      width: 100%;
      object-fit: cover;
    }
  }
  // background-position: center;

  .timeCount {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    top: 0;
    right: 0;
    // border: 1px solid red;

    .timeLeft {
      color: yellow;
      background-color: #292929;
      font-size: 1.3rem;
      padding: 0.3rem;
    }
    .seconds {
      color: #fff;
      height: 5rem;
      width: 5rem;
      border-radius: 50%;
      background-color: #292929;
      font-size: 1.3rem;
      padding: 0.3rem;
      margin: 0.5rem 0.5rem 0 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.quiz-section {
  border: 1px solid red;
  height: 30rem;
  width: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  .quiz-title {
    font-size: 1.5rem;
    padding: 1rem 1rem 1rem 0;
    border: 1px solid red;
  }
  .quiz-options {
    border: 1px solid red;
    padding: 1rem;
    font-size: 1.3rem;
    // height: 15rem;
    .options {
      margin-bottom: 1.2rem;
      border: 1px solid #292929;
      padding: 0.7rem;
      width: 100%;
      border-radius: 0.3rem;
      span {
      }
      ion-icon {
        color: red;
        float: right;
        border: 1px solid yellow;
        margin-left: 1rem;
      }
    }
  }
}
footer {
  padding-top: 1rem;
  border-top: 2px solid #2828282b;
  margin-bottom: 0;
  .total-quiz {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border: 1px solid red;
    p {
      font-size: 1.1rem;
    }
    .nextBtn {
      border: 1px solid red;
      padding: 1rem 2.5rem;
      background-color: #a044d9;
      border-radius: 0.5rem;
      color: #fff;
    }
  }
}

/* html quiz container
 */
