@import "partials/reset";
@import "partials/variables";

.countdown_title {
  font-size: 5rem;
  //   margin-top: -10rem;
  color: $white;
  margin-bottom: 1rem;
  box-shadow: $box-shadow-admin;
  //   letter-spacing: 0.3rem;
  //   text-transform: uppercase;
}
.countdown-element {
  text-align: center;
  span {
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: bolder;
  }
}
.countdown-container {
  color: $white;
  font-size: large;
  display: flex;
  .big-text {
    font-size: 6rem;
    line-height: 1;
    font-weight: bold;
    margin: 0 2rem;
  }
}
